body {
    background: #bad9d3;
}

.logo {
    width: 10%;
    position: absolute;
    left: 64px;
    top: 40px;
}

.instruction {
    padding: 20px 20px 20px 20px;
    position: absolute;
    text-align: top;
    width: 50%;
    height: 70%;
    left: 180px;
    top: 168px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    border: none; 
    background: #bad9d3;
    resize: none;
}

.instruction:focus {
    border: none;
    outline: none;
}

.instruction:active {
    border: none;
}
