body {
    background: #bad9d3;
}

.logo {
    width: 10%;
    position: absolute;
    left: 64px;
    top: 40px;
}

.instruction {
    padding: 20px 20px 20px 20px;
    position: absolute;
    text-align: top;
    width: 50%;
    height: 55%;
    left: 240px;
    top: 168px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    border: none; 
    background: #bad9d3;
    resize: none;
}

.instruction::placeholder{
    color: #4b6963;
}

/*.instruction:focus {
    border: none;
    outline: none;
}*/

.encrypted {
    font-size: 18px;
    position: absolute;
    left: 240px;
    bottom: 70px;
    display: inline-block;
    text-align: center;
    padding: 24px;
    width: 328px;
    height: 67px;
    background: #0A3871;
    border-radius: 24px;
    flex: none;
    color: aliceblue; 
    border: none;
}

.desencrypted {
    font-size: 18px;
    position: absolute;
    left: 620px;
    bottom: 70px;
    display: inline-block;
    text-align: center;
    padding: 24px;
    width: 328px;
    height: 67px;
    background: #85adde;
    border-radius: 24px;
    color: aliceblue; 
    border: none;
}
