body {
    background: #bad9d3;
    font-family: 'PT Sans', sans-serif;
}

.logo {
    width: 10%;
    position: absolute;
    left: 64px;
    top: 40px;
}

.instruction {
    padding: 20px 20px 20px 20px;
    position: absolute;
    text-align: top;
    width: 45%;
    height: 55%;
    left: 240px;
    top: 168px;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    border: none; 
    background: #bad9d3;
    resize: none;
}

.instruction::placeholder{
    color: #4b6963;
    font-family: 'PT Sans', sans-serif;
}

.instruction:focus {
    border: none;
    outline: none;
}

.encrypted {
    font-size: 18px;
    position: absolute;
    left: 240px;
    bottom: 70px;
    display: inline-block;
    text-align: center;
    width: 328px;
    height: 67px;
    background: #0A3871;
    border-radius: 24px;
    cursor: pointer;
    color: aliceblue; 
    border: none;
    font-family: 'PT Sans', sans-serif;
}

.desencrypted {
    font-size: 18px;
    position: absolute;
    left: 620px;
    bottom: 70px;
    display: inline-block;
    text-align: center;
    width: 328px;
    height: 67px;
    background: #85adde;
    border-radius: 24px;
    cursor: pointer;
    color: aliceblue; 
    border: none;
    font-family: 'PT Sans', sans-serif;
}

.caja-mostrador{
    position: absolute;
    width: 400px;
    height: 700px;
    left: 1100px;
    top: 40px;
    background: #FFFFFF;
    box-shadow: 0px 24px 32px -10px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}

.imagen-buscando{
    position: relative;
    padding: 10px 10px 10px 25px;
    display: inline-block;
    width: 90%;
    height: 30%;
    top: 180px;
}

.estatus-mostrador {
    position: relative;
    padding: 18px;
    top: 160px;
    font-weight: bold;
    font-size: 20px;
    line-height: 120%;
    /* or 29px */

    text-align: center;

    /* Gray/gray-500 */

    color: #343A40;
}

.descripcion-mostrador {
    position: relative;
    padding: 18px;
    top: 120px;
    font-weight: normal;
    font-size: 18px;
    line-height: 120%;
    text-align: center;
    color: #565c61;
}

.advertencia-uso {
    position: absolute;
    left: 240px;
    bottom: 120px;
    display: inline-block;
    text-align: left;
    width: 328px;
    height: 67px;
    border: none;
}

.texto-advertencia {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #495057;
    opacity: 0.8;
}