body {
    background: #bad9d3;
}

.logo {
    width: 10%;
    position: absolute;
    left: 64px;
    top: 40px;
}

.instruction {
    padding: 20px 20px 20px 20px;
    position: absolute;
    text-align: top;
    width: 50%;
    height: 55%;
    left: 240px;
    top: 168px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    border: none; 
    background: #bad9d3;
    resize: none;
}

.instruction::placeholder{
    color: #4b6963;
}

.instruction:focus {
    border: none;
    outline: none;
}

.encrypted {
    font-size: 18px;
    position: absolute;
    left: 240px;
    bottom: 70px;
    display: inline-block;
    text-align: center;
    padding: 24px;
    width: 328px;
    height: 67px;
    background: #0A3871;
    border-radius: 24px;
    cursor: pointer;
    color: aliceblue; 
    border: none;
}

.desencrypted {
    font-size: 18px;
    position: absolute;
    left: 620px;
    bottom: 70px;
    display: inline-block;
    text-align: center;
    padding: 24px;
    width: 328px;
    height: 67px;
    background: #85adde;
    border-radius: 24px;
    cursor: pointer;
    color: aliceblue; 
    border: none;
}

.caja-mostrador{
    position: absolute;
    width: 400px;
    height: 700px;
    left: 1100px;
    top: 40px;
    background: #FFFFFF;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}

.imagen-buscando{
    position: relative;
    padding: 25px 15px 15px 60px;
    display: inline-block;
    width: 70%;
    height: 30%;
    top: 243px;
}